<button *ngIf = "isCollapsed"(click)="toggleCollapse()">Отоброзить User</button>
<button *ngIf = "!isCollapsed"(click)="toggleCollapse()">Спрятать</button>
<button *ngIf = "isCollapsedDep"(click)="toggleCollapseDep()">Отоброзить Departmen</button>
<button *ngIf = "!isCollapsedDep"(click)="toggleCollapseDep()">Спрятать</button>



<div *ngIf = "!isCollapsed">
<th>Добавте работника</th>
  <form action="#" (ngSubmit)="onCreat()">
    <input type="text" name="name" [(ngModel)] ="name" placeholder="name"> <br><br>
    <select name="Department" [(ngModel)] ="departmentId">
      <option disabled>Выбирете отдел</option>
      <option *ngFor = "let dept of DepartmenList" [value]="dept.id">{{dept.name}}</option>
    </select>
    <br><br>
    <button type="submit">Post Data</button>
  </form>
  <body>
  <table border="1"width="100%"cellpadding="5">
  <tr>
  <th scope="col">Id: </th>
  <th> Имя: </th>
  <th> Название отдела: </th>
  <th> Удалить:</th>
  </tr>
  <tr *ngFor = "let user of UserList">
    <td> {{user.id}} </td>
    <td> {{user.name}} </td>
    <td>{{user.Workers.name}} </td>
    <td><button (click)="onRemove(user)" >Удалить</button></td>
  </tr>
  </table>
  </body>
  </div>




<div *ngIf = "!isCollapsedDep">
  <th>Добавте отдел</th>
  <form action="#"(ngSubmit)="onCreatDep()">
  <input type="text" name="name" [(ngModel)] ="nameDep" placeholder="name"> <br><br>
  <button type="submit">Post Data</button>
  </form>
  <body>
  <table border="1"width="100%"cellpadding="5">
  <tr>
  <th scope="col">id: </th>
  <th> Название отдела: </th>
  <th> Удалить: </th>
  </tr>
  <tr *ngFor = "let departmen of DepartmenList">
    <td> {{departmen.id}} </td>
    <td> {{departmen.name}}</td>
    <td><button (click)="onRemoveDep(departmen)" >Удалить</button></td>
  </tr>
  </table>
  </body>
</div>


<div style="width: 600px; height: 600px">
  <body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src ="app.component.ts"></script>
  <canvas id="myChart"></canvas>
  <canvas id="myChart2"></canvas>
  </body>
</div>

