<h1>Привет</h1>

<button *ngIf = "isCollapsed"(click)="toggleCollapse()">Отоброзить User</button>
<button *ngIf = "!isCollapsed"(click)="toggleCollapse()">Спрятать</button>
<div *ngIf = "!isCollapsed">
  <thead>
  <th scope="col">Имя </th>
  <th> Id Работника: </th>
  <th> </th>
  <th> Id Отдела в котором работает:</th>
  </thead>
  <tr *ngFor = "let user of UserList">
    <td> {{user.name}} </td>
    <td> {{user.id}} </td>
    <td>{{user.departmentId}} </td>
  </tr>
</div>

<button *ngIf = "isCollapsedDep"(click)="toggleCollapseDep()">Отоброзить Departmen</button>
<button *ngIf = "!isCollapsedDep"(click)="toggleCollapseDep()">Спрятать</button>
<div *ngIf = "!isCollapsedDep">
  <thead>
  <th scope="col">id Отдела: </th>
  <th> Название отдела: </th>
  </thead>
  <tr *ngFor = "let departmen of DepartmenList">
    <td> {{departmen.id}} </td>
    <td> {{departmen.name}}</td>
  </tr>
</div>

