<h1>Привет</h1>

<button *ngIf = "isCollapsed"(click)="toggleCollapse()">Отоброзить User</button>
<button *ngIf = "!isCollapsed"(click)="toggleCollapse()">Спрятать</button>
<div *ngIf = "!isCollapsed">
  <form action="#" (ngSubmit)="onCreat()">
    <input type="text" name="name" [(ngModel)] ="name" placeholder="name"> <br><br>
    <input type="text" name="departmentId" [(ngModel)] ="departmentId" placeholder="DepartmentId"> <br><br>
    <button type="submit">Post Data</button>
  </form>
  <thead>
  <th scope="col">Имя </th>
  <th> Id Работника: </th>
  <th> </th>
  <th> Id Отдела в котором работает:</th>
  </thead>
  <tr *ngFor = "let user of UserList">
    <td> {{user.name}} </td>
    <td> {{user.id}} </td>
    <td>{{user.departmentId}} </td>
    <td></td>
    <td><button (click)="onRemove(user)" >Удалить</button></td>
  </tr>
</div>

<button *ngIf = "isCollapsedDep"(click)="toggleCollapseDep()">Отоброзить Departmen</button>
<button *ngIf = "!isCollapsedDep"(click)="toggleCollapseDep()">Спрятать</button>
<div *ngIf = "!isCollapsedDep">
  <form action="#"(ngSubmit)="onCreatDep()">
  <input type="text" name="name" [(ngModel)] ="nameDep" placeholder="name"> <br><br>
  <button type="submit">Post Data</button>
  </form>
  <thead>
  <th scope="col">id Отдела: </th>
  <th> Название отдела: </th>
  </thead>
  <tr *ngFor = "let departmen of DepartmenList">
    <td> {{departmen.id}} </td>
    <td> {{departmen.name}}</td>
  </tr>
</div>

