<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <button mat-button class="nav-link active" routerLink="/users">
          <mat-icon>person</mat-icon>
          <span>Users</span>
        </button>
    </ul>
  </div>
</nav>
  </mat-sidenav>
</mat-sidenav-container>
